<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Produtos</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    
    <body>
        <h2>Lista de Produtos</h2>

        <table>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Quantidade</th>
            </tr>
            
            <tr th:each="produto : ${produtos}">
                <td th:text="${produto.id}">Id</td>
                <td th:text="${produto.nome}">Nome</td>
                <td th:text="${produto.valor}">Valor</td>
                <td th:text="${produto.qntd}">Quantidade</td>
            </tr>
        </table>

    </body>
</html>
